* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
/* main section */
#main {
  position: relative;
  overflow: hidden;
}

#page {
  height: 100vh;
  width: 100vw;
  background: #fff;
  position: relative;
}
#page > img {
  width: 50%;
  position: absolute;
  right: 5%;
  top: 52%;
  transform: translateY(-50%);
}
#page > #nav {
  height: 10%;
  width: 100%;
  background: slateblue;
  position: absolute;
  z-index: 9;
}

#nav>img{
    
}
#page1 {
  height: 100vh;
  width: 100vw;
  background: #fff;
}
